src/**
node_modules/**
test/**
.github/**
.vscode/**
.gitignore
.npmrc
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsup.config.ts
res/*.svg
todo.md
test-depfiles/**
screenshots/**
*.vsix
